h1 {
  font-family: lust-script, regular;
  font-size: 5vw;
  text-align: center;
}

#play {
  content: url("https://drive.google.com/uc?export=view&id=1O6tRwS5RV9cfaYzRzutjf-FYkeO7Unk0");
  max-width: 20vw;
  margin-left: 40vw;
  margin-right: 40vw;
  margin-top: 82vw;
  margin-bottom: 11vw;
  position: absolute;
  z-index: 3;
}

#play:hover {
  content: url("https://drive.google.com/uc?export=view&id=1iz-KCMcKvCZbnm4eTlIWApSZor3oAlZk");
}

#pris {
  content: url("https://drive.google.com/uc?export=view&id=1gFdwvy8R32598NrCnnvBsd2JLuweRkA3");
  max-width: 20vw;
  margin-left: 40vw;
  margin-right: 40vw;
  margin-top: 19vw;
  position: absolute;
  z-index: 2;
}

#happybday {
  content: url("https://drive.google.com/uc?export=view&id=1eBegpClp9vwcORuHTxTZTa_7hfFIoVqd");
  max-width: 60vw;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 37vw;
  position: absolute;
  z-index: 1;
}

#vines {
  content: url("https://drive.google.com/uc?export=view&id=188jdPDINnULBEHMezm0MYCzm3oczzyYC");
  max-width: 90vw;
  margin-left: 5vw;
  margin-top: 2vh;
  position: absolute;
  z-index: 0;
}

#strawb {
  content: url("https://drive.google.com/uc?export=view&id=1FTHbLFbrtjdtDv8y9AWFgLmT5OqNYuJj");
  max-width: 60vw;
  margin-left: 20vw;
  margin-top: 50vh;
  position: absolute;
  z-index: 2;
}

#player {
  max-width: 50vw;
  max-height: 50vh;
  margin-left: 25vw;
  margin-top: 10vh;
  position:absolute;
  z-index: 1;
}